

links{
    
   
    text-align: center;
    
}

.Con{
    
    display: grid;
    place-items: center;
    
    
}

.matric{
    height: 200vmin;
    padding: 1rem;
    border-radius: 2rem;
    pointer-events: none;
    

}

h2{
    text-align: center;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    
    width: 50%;
    
    
}

