.images{
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    padding: 1rem;
    place-items: center;
    
    padding: 1rem;
    margin: 0.5rem;
  
    pointer-events: none;
      
}

.Home{
    display: grid;
    place-items: center;
    padding: 1rem;
}

.notes{
    padding: 1rem;
    text-align: center;
}