.linkme{
    padding: 1rem;
    margin: 0.5rem;
    
    
    border: 2px solid white;
    
    color: white;
    
    
    align-items: center;
    
  
    
  
}



.linkss{
  display: flex;
  justify-content: center;

}

h1{
    
    text-align: center;
    font-size: 90px;
}

